<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta 
        name="description" 
        content="DIYARAH: A Leading Real Estate Investment Company and Construction Project - Building The Future. We specialize in creating sustainable and modern living spaces, shaping the future of urban development. Our mission is to transform spaces into thriving communities through high-quality, aesthetically pleasing, and environmentally conscious real estate solutions. Explore our innovative projects that prioritize integrity, collaboration, sustainability, and excellence."
    >
    <meta name="keywords" content="DIYARAH, real estate, construction, urban development, sustainable living, modern spaces">
    <meta name="author" content="DIYARAH">
    <title>DIYARAH - Building The Future</title>
    <link rel="canonical" href="https://companysa.onrender.com/">
    <link rel="stylesheet" href="CSS/styles.css">
    <link rel="icon" type="image/x-icon" href="images/icon.png">
</head>
<body>
    <header class="header">
        <img src="images/logo.png" alt="DIYARAH Logo" class="logo">
        <nav class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#chatting">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-content">
            <h1>ديارة العقارية</h1>
            <h1>DIYARAH</h1>
            <p id="slogan">BUILDING THE FUTURE</p>
        </div>
    </section>
    <section class="company-cards">
        <h2 style="text-align: center;">Our Projects:</h2>
        <div class="card-slider">
        </div>
    </section>

    <section class="chat-section" id="chatting">
        <h2>Chat With Us using WhatsApp</h2>
        <p>Click the button below to start a chat:</p>
        <a href="https://api.whatsapp.com/send?phone=+966572696382" class="whatsapp-button">Chat on WhatsApp</a>
        <p>Or copy the phone number: <span>+966572696382</span></p>
    </section>

    <section class="team-section">
        <h2>Our Team</h2>
        <div class="team-members-container">
        </div>
    </section>

    <section class="content" id="about">
        <h2 style="text-align: center;">About Us</h2>
        <p style="text-align: center;">Welcome to DIYARAH - Building The Future</p>
        
        <div class="company-info">
            <h3>Who We Are</h3>
            <p>DIYARAH is a leading real estate investment company and construction project dedicated to shaping the future of urban development. With a commitment to excellence and innovation, we strive to create sustainable and modern living spaces that stand the test of time.</p>
        </div>
    
        <div class="mission-vision">
            <h3>Our Mission</h3>
            <p>At DIYARAH, our mission is to transform spaces into thriving communities by delivering high-quality, aesthetically pleasing, and environmentally conscious real estate solutions. We aim to exceed the expectations of our clients and contribute positively to the growth of the communities we serve.</p>
        </div>
    
        <div class="core-values">
            <h3>Core Values</h3>
            <ul>
                <li>Innovation: Embracing creativity and cutting-edge solutions.</li>
                <li>Integrity: Upholding the highest ethical standards in all our endeavors.</li>
                <li>Collaboration: Fostering strong partnerships with clients and stakeholders.</li>
                <li>Sustainability: Prioritizing environmentally friendly and sustainable practices.</li>
                <li>Excellence: Striving for excellence in every aspect of our projects.</li>
            </ul>
        </div>
    
        <div class="future-building">
            <h3>Building The Future</h3>
            <p>Our slogan, "Building The Future," encapsulates our commitment to creating spaces that not only meet the present needs but also anticipate and adapt to the evolving demands of the future. We believe in constructing not just buildings but legacies that endure for generations.</p>
        </div>
    </section>    

    <h2 style="text-align:center;">Our Location:</h2>
    <p style="text-align:center;">مشروع عمارة النزلاء بحى النرجس شمال الرياض ومشروع فيلل دوبلكسات حى الصفا مدينة الاحساء ومشروع عمارة تجارية حى الغدير مدينة الدمام</p>
    <section id="map">
        
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3624.9772205331587!2d46.60021878500041!3d24.693309784133046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjTCsDQxJzM1LjkiTiA0NsKwMzUnNTIuOSJF!5e0!3m2!1sar!2seg!4v1702244390066!5m2!1sar!2seg" 
            width="600" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
    </section>
    <footer class="footer">
        <p>&copy; 2023 Your Company</p>
    </footer>
    <script src="JS/app.js"></script>
</body>
</html>
